{% load static %}
<!--  Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-btn" href="index.html">
        <img alt="Brand" src="...">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="store.html" class="btn navbar-btn">Beat Store</a></li>
      <li><a href="faq.html" class="btn navbar-btn">FAQ</a></li>
      <li><a href="contact.html" class="btn navbar-btn">Contact</a></li>
      <li><a href="cart.html" class="btn navbar-btn"><span class="fa fa-shopping-cart"></span> $ 0</a></li>
      <li><a class="btn navbar-btn" id="search"><i class="fa fa-search"></i></a></li>
      <div id="form-field">
        <form class="navbar-form navbar-left" role="search" id="form1">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-8">
                <input type="text" class="form-control  navbar-btn" placeholder="Search">
              </div>
              <div class="col-sm-4">
                <input type="submit" placeholder="Search" class="btn btn-default  navbar-btn">
              </div>
            </div>


          </div>

        </form>
      </div>
    </ul>
  </div>

  </div>
</nav>
